<!DOCTYPE html>
<html>
<head>
	<title>TruckStop</title>
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQF8ObbvuQLJDt-en7VICr5VEX18C13VU&callback=initMap">
        </script>
<!--   <script type="text/javascript" src="/assets/javascript/browseLogic.js"></script> -->
  <script type="text/javascript" src="/assets/javascript/truckLogic.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
	{{{body}}}
</body>
</html>