
	<nav id="header">
		<div class="nav-wrapper">
			<img src="/assets/images/truckstop.png" alt="truck stop" id="truckstopLogo">
		</div>
	</nav>
	<div class="row" id="header-margin">
	</div>
	<div class="row">
		<img src="/assets/images/browseTitle.png" id="browseTitle">
	</div>
	<div class="container">
		{{#each foodTruck}}
			<div class="row">
				<form action="/browse/truck/{{this.id}}" method="GET">
					<button type="submit" class="truck">
						<h1 class="companyTitle">{{this.companyName}}</h1>
					</button>
				</form>
			</div>
		{{/each}}					
	</div>

