
	<nav id="header">
		<div class="nav-wrapper">
		</div>
	</nav>
	<div class="container">
		<div class="row" id="header-margin">
		</div>
		{{#each foodTruck}}
			<div class="row">
				<form action="/browse/truck/{{this.id}}" method="GET">
					<button type="submit" class="truck">
						<h1>{{this.companyName}}</h1>
					</button>
				</form>
			</div>
		{{/each}}					
	</div>

