<body style="background-color: #D3AF8F">
  <div class="container">
    <h4>Company Information<h4>
    <div class="row">
      <form  method="post" action="#location" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="companyName" type="text" class="validate">
            <label style="color:white" for="company_name">Company Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="street" type="text" class="validate">
            <label style="color:white" for="street_address">Street Address</label>
          </div>
          <div class="row">
          <div class="input-field col s4">
            <input id="city" type="text" class="validate">
            <label style="color:white" for="city">City</label>
          </div>
          <div class="input-field col s4">
            <input id="state" type="text" class="validate">
            <label style="color:white" for="state">State</label>
            
          </div>
          <div class="input-field col s4">
            <input id="zip" type="text" pattern="[0-9]{5}" class="validate">
            <label style="color:white" for="zip">Zip Code</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="clientPassword" type="password" class="validate">
            <label style="color:white" for="password">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="clientEmail" type="email" class="validate">
            <label style="color:white" for="email">Email</label>
          </div> 
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="phoneNumber" type="tel" class="validate">
            <label style="color:white" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
            <div class="col s12">
              <div class="input-field inline">
                <a href="admin.html" class="waves-effect waves-light btn-large">Sign Up</a>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>

  <script>
    $('#location').val($('#street').val() + ' ' +
                         $('#city').val() + ', ' +
                         $('#state').val() + ' ' +
                         $('#zip').val() );
    </script>
</body>
