<body style="background-color: #D3AF8F">
  <div class="container">
    <h4>Company Information<h4>
    <div class="row">
      <form  method="get" action="location" {{this.id}} class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="companyName" type="text" class="validate">
            <label style="color:white" for="company_name">Company Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="Street Address" type="text" class="validate">
            <label style="color:white" for="street_address">Street Address</label>
          </div>
          <div class="row">
          <div class="input-field col s4">
            <input id="City" type="text" class="validate">
            <label style="color:white" for="city">City</label>
          </div>
          <div class="input-field col s4">
            <input id="State" type="text" class="validate">
            <label style="color:white" for="state">State</label>
          </div>
          <div class="input-field col s4">
            <input id="Zip" type="text" pattern="[0-9]{5}" class="validate">
            <label style="color:white" for="zip">Zip Code</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="Phone" type="tel" class="validate">
            <label style="color:white" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
            <div class="col s12">
              <button method="push" {{this.location}} {{this.phone}}class="btn waves-effect waves-light" type="submit" name="action">Update
              </button>
            </div>
          </div>
      </form>
  </div>

  <script>
    $('#location').val($('#street').val() + ' ' +
                         $('#city').val() + ', ' +
                         $('#state').val() + ' ' +
                         $('#zip').val() );
    </script>
</body>