h1,h2,h3,h4,h5,p{
	margin:0px;
}
.border
{
	border:2px solid white;
}
body
{
	background: url("/assets/images/background.png");
	background-size: 50% 50%;
}
.title{
	font-size:2em;
	line-height: 1;
}
.description{
	font-size:1em;
	width:60%;

}
#header
{
	position:fixed;
	z-index: 100;
	background-color: #1d4663;
	text-align: center;
}
#header-margin
{
	margin-bottom: 140px;
}
.truck
{
	background-color:#1d4663;
	width:95%;
	margin-left: 2.5%;
	border: none;
	border-bottom:2px solid white;
}
.landingBtn
{
	background-color:#1d4663;
	width:80%;
	margin-left: 7.5%;
	margin-top:80px;
	border: 2px solid white;
	height: 100px;
}
.truck:hover
{
background-color: #39D12C;
}
.landingBtn:hover
{
	background-color: #39D12C;
}
.truck:focus
{
	background-color:#39D12C;
}
.landingBtn:focus
{
	background-color: #39D12C;
}
.menuItem
{
background-color: #1d4663;
height:100px;
}
#cartImg
{
	height:45px;
	width:8%;
	float:right;
}
.addToCartBtn
{
	float:right;
	background-color: #2C8CD1;
	z-index: 1;
	margin-bottom: 10px;
}
.addToCartBtn:hover
{
	background-color: #2C8CD1;
	color:navy;
}
.addToCartBtn:focus
{
	background-color: #2C8CD1;
}
#truckstopLogo
{
	width: 100%;
	height:110%;
}
.companyTitle
{
	font-size:2em;
	float:left;
}
#map
{
	width:50%;
	height:200px;
	margin: 0px 25%;
}
.main-content
{
	width:75%;
	margin: 12.5%;
	background-color: #1d4663;
}
.main-content h1
{
	text-align: center;
	color:white;
}
#browseTitle
{
	width:100%;
	height:10%;
	position:fixed;
	z-index: 90;
}
.companyName
{
	z-index: 100;
	color:white;
	display:inline;
	position: relative;
	bottom:130px;
	font-size: 3em;
}
.company
{
	width:90%;
}

.itemTable
{
	border:2px solid black;
}
.tableHeader
{
	border: 2px solid black;
	background-color: #1d4663;
	color:white;
}
#itemList
{
	border:2px solid black;
}
.truckImg
{
	width:100%;
	height:150px;
	float: left;
}
.font-white
{
	color:white;
}
.row
{
	margin-bottom: 5px;
}
.nav-wrapper
{
	background-color: #1d4663;
}
.map-content
{
	width:75%;
	margin: 80px 12.5%;
	padding: 5%;
	background-color: #1d4663;
}
.location-content
{
	text-align: center;
}
#cart
{
	height: 100%;
	width: 100%;
}
.menu-container h1
{
	text-align: center;
	color:white;
}
@media only screen and (max-width: 980px){
	html
	{
		font-size: 12px;
	}
}

@media only screen and (max-width: 768px){
	html
	{
		font-size: 11px;
	}

}
@media only screen and (max-width: 500px){
	html
	{
		font-size: 10px;
	}
	.main-content,
	.map-content
	{
		margin: 12.5% 0px;
		padding: 5%;
		width:100%;
	}
	#map
	{
		width:90%;
		margin: 5%;
	}
}
