/*#header-img
{
width:100%;
height:100%;
position:relative;
top:20px;
}*/
body
{
background-image: url("/assets/images/background.png");
}
.title{
	font-size:2em;
	margin-bottom: 0px;
	line-height: 1;
}
.description{
	font-size:1em;
	width:60%;

}
#header
{
	height: 10em;
	position:fixed;
	z-index: 100;
	background-color: navy;
	text-align: center;
}
#header-margin
{
	margin-bottom: 140px;
}
.truck,
.landingBtn
{
	background-color:#4fb9e9;
	height:100px;
	width:90%;
	margin-top:20px;
	margin-left:6.5%;
	z-index: 0;
}
.truck:focus
{
	background-color:yellow;
}
.landingBtn:focus
{
	background-color: yellow;
}
.menuItem
{
background-color: #4fb9e9;
height:100px;
}
#cartImg
{
	height:45px;
	width:8%;
	float:right;
}
.addToCartBtn
{
	float:right;
	background-color: #112787;
	z-index: 1;
}
.addToCartBtn:hover
{
	background-color: yellow;
	color:navy;
}
#truckstopLogo
{
	width: 100%;
	height:110%;
}
.companyTitle
{
	font-size:2em;
}
#map
{
	width:100%;
	height:200px;
	margin-top:40px;
}
.container
{
	margin-left:10%;
	margin-right:20%;
	width:80%;
	margin-top:80px;
}
#browseTitle
{
	width:100%;
	height:10%;
	position:fixed;
	z-index: 90;
}
.companyName
{
	z-index: 100;
	color:white;
	display:inline;
	position: relative;
	bottom:130px;
	font-size: 3em;
}
.company
{
	width:90%;
}

.navBtn
{
	z-index: 100;
	position: relative;
	top:15px;
	width: 15%;
	margin-left:3%;
	height:30px;
	background-color: transparent;
	border:none;
}
.navBtn:focus
{
	background-color: transparent;
	color:transparent;
}
#menuNavBtn,
#cartNavBtn
{
	margin-left: 24%;
}
.hidden
{
	display: none;
}
#cartCounter
{
	position:relative;
	bottom:30px;
	left:95%;
	border:2px solid black;
	background-color: red;
	color:white;
	border-radius: 100%;
	height:30px;
	width:30px;
	z-index: 1000;
}
.itemTable
{
	border:2px solid black;
}
.tableHeader
{
	border: 2px solid black;
	background-color: navy;
	color:white;
}
#itemList
{
	border:2px solid black;
}